# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

.classpath
.project
.settings/
target/
/.springBeans
logs/
node_modules/
temp/
META-INF/
.idea/
*.iml
*.log
.idea/misc.xml
*.class
home/

.flattened-pom.xml
